<ion-content>
  <swiper-container class="swiper" pagination="true">
    <swiper-slide>
      <h1 class="title">¡Bienvenido!</h1>
      <img src="../../assets/images/cocina.jpg" alt="Cocina" class="image">
      <ion-icon name="cafe-outline" class="icon"></ion-icon>
      <p class="description">Descubre un mundo de recetas y conecta con amantes de la cocina como tú.</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="title">Comparte y Conecta</h1>
      <img src="../../assets/images/cocina 3.jpg" alt="chef" class="image">
      <ion-icon name="chatbubbles-outline" class="icon"></ion-icon>
      <p class="description">Sube tus recetas, sigue a tus amigos y comparte tus platos favoritos.</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="title">Crea y Disfruta</h1>
      <img src="../../assets/images/cocina 2.jpg" alt="grupo" class="image">
      <ion-icon name="fish-outline" class="icon"></ion-icon>
      <p class="description">Explora, crea y comparte las recetas más deliciosas con nuestra comunidad.</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="title">¡Listo para empezar!</h1>
      <ion-icon name="restaurant-outline" class="icon"></ion-icon>
      <p class="description">Da el primer paso para descubrir un mundo de recetas increíbles.</p>
      <button class="start-button">Empecemos</button>
    </swiper-slide>
  </swiper-container>
</ion-content>

