<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)"> 
  <ion-item>
    <ion-input
      label="Email"
      labelPlacement="floating"
      placeholder="Example@email.com"
      formControlName="email"
    ></ion-input>
  </ion-item>
  <div>
    <ng-container *ngFor="let error of formErrors.email">
      <ion-label
        color="danger"
        *ngIf="(registerForm.get('email')?.hasError(error.type) && registerForm.get('email')?.dirty)">
        {{ error.message }}
      </ion-label>
    </ng-container>
  </div>
  <ion-button type="submit" [disabled]="!registerForm.valid">Registrarse</ion-button>
</form>
</ion-content>
